.search-wrapper {
  background-image: linear-gradient(
      to right,
      rgba(3, 37, 65, 0.8) 0%,
      rgba(3, 37, 65, 0) 100%
    ),
    url("../../../public/images/search-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 360px;
}
