.detail-info {
  padding-left: 20px;
  position: relative;

  &:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }

  &:first-child {
    padding-left: 0;
  }
}
